<div class="splash-screen">
  <h1 class="splash-screen-heading">BUDGET APP</h1>
  <div class="splash-screen-button-div">
  <%= link_to "LOG IN", new_user_session_path, class: "login-button" %>
  <%= link_to "SIGN UP", new_user_registration_path, class: "signup-button" %>
  <%= link_to "LOG IN", destroy_user_session_path, class: "signout-button", method: :delete %>

  </div>
</div>