
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #f0f2f1;
}

.splash-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.splash-screen-heading {
  font-size: 40px;
  color: #434b54;
}

.login-button,
.signup-button {
  font-size: 20px;
  display: block;
  width: 300px;
  padding: 20px;
  border: none;
  text-decoration: none;
  text-align: center;
  color: #434b54;
}

.login-button {
  background-color: #3778c2;
  color: #f0f2f1;
}
